.main {
    background-image: url('./assets/bg.png');
    border-style: groove;
    margin-left: 0px;
    width: 400px;
    height:  700px;
    text-align: center;
    display: flex;
    position: relative;
}







